.speedDial {
    position: fixed;
    right: 3vmax;
    top: 4vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  .menuBurger{
    /* position: absolute; */
    /* background-color: black; */
    height: 4vmax;
  }